<div class="row">
	<h1></h1><%= youtube.title %></h1>
</div>
<div class="row">
<iframe width="480" height="315" src="<%= youtube.url %>?wmode=transparent" frameborder="0" allowfullscreen></iframe>
<br/>
</div>
<div class="row">
<%= youtube.description %>
</div>
