<div class="row">
	<div class="span9 columns">
		<div class="accordion" id="time-zones">
			<% (-11..12).each do |zone| %>
			<div class="accordion-group">
				<div class="accordion-heading">
                	<a class="accordion-toggle" data-toggle="collapse" data-parent="#time-zones" href="#collapse<%= zone %>">
                  		<%= zone %>
                	</a>
              	</div>
              	<div id="collapse<%= zone %>" class="accordion-body collapse">
                	<div class="accordion-inner">
                	<%= DateTime.current.in_time_zone(zone).to_s %>
                	</div>
              	</div>
           	</div>
           	<% end %>
		</div>
	</div>
	
</div>